<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Jiří Lopatář" name="author">
    <meta content="Jiří Lopatář, Jiří, Lopatář" name="keywords">
    <meta content="Jiří Lopatář - computer science student, .NET & PHP developer" name="description">
    <title>Jiří Lopatář</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/"><- Go back</a>
<h1>Contact</h1>
<p>E-Mail: <a href="mailto:jiri@lopatar.me">jiri@lopatar.me</a> or <a href="mailto:jiri@lopatar.dev">jiri@lopatar.dev</a></p>
<p><a href="/pgp">PGP key</a></p>
</body>
<footer>
    <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</html>