<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jiří Lopatář">
    <meta name="keywords" content="Jiří Lopatář, Jiří, Lopatář">
    <meta name="description" content="Jiří Lopatář - computer science student, .NET & PHP developer">
    <title>Contact – Jiří Lopatář</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/" aria-label="Go back">&larr; Go back</a>
<main>
    <h1>Contact</h1>
    <p>
        E-Mail:
        <a href="mailto:jiri@lopatar.me">jiri@lopatar.me</a>
        or
        <a href="mailto:jiri@lopatar.dev">jiri@lopatar.dev</a>
    </p>
    <p><a href="/pgp">PGP key</a></p>
</main>

<footer>
    <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</body>
</html>
