<h1>Jiří Lopatář</h1>
<h3>Information Technology System Administrator, with .NET & PHP development experience</h3>
<h3><a href="/contact">Contact</a> | <a href="/services">Services</a></h3>
<a href="https://github.com/lopatar" target="_blank"><img alt="Github logo" src="/static/img/github.png"></a>
<a href="https://www.linkedin.com/in/lopatar-jiri" target="_blank"><img alt="LinkedIn logo" src="/static/img/linkedin.png"></a>
<a href="https://www.w3profile.com/lopatar" target="_blank"><img alt="W3schools logo" src="/static/img/w3schools.png"></a>
</body>

<footer>
    <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</html>