<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Jiří Lopatář" name="author">
    <meta content="Jiří Lopatář, Jiří, Lopatář" name="keywords">
    <meta content="Jiří Lopatář - computer science student, .NET & PHP developer" name="description">
    <title>Jiří Lopatář</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>Jiří Lopatář</h1>
<h3>Information Technology System Administrator, with .NET & PHP development experience</h3>
<h3><a href="/contact">Contact</a> | <a href="/services">Services</a></h3>
<a href="https://github.com/lopatar" target="_blank"><img alt="Github logo" src="/static/img/github.png"></a>
<a href="https://www.linkedin.com/in/lopatar-jiri" target="_blank"><img alt="LinkedIn logo" src="/static/img/linkedin.png"></a>
<a href="https://www.w3profile.com/lopatar" target="_blank"><img alt="W3schools logo" src="/static/img/w3schools.png"></a>
</body>

<footer>
    <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</html>