<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jiří Lopatář">
    <meta name="keywords" content="Jiří Lopatář, Jiří, Lopatář">
    <meta name="description" content="Jiří Lopatář - computer science student, .NET & PHP developer">
    <title>Jiří Lopatář</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<main>
    <h1>Jiří Lopatář</h1>
    <h3>Information Technology System Administrator, with .NET & PHP development experience</h3>
    <h3>
        <a href="/contact">Contact</a> |
        <a href="/services">Services</a>
    </h3>

    <nav>
        <a href="https://github.com/lopatar" target="_blank" aria-label="GitHub">
            <img src="/static/img/github.png" alt="GitHub logo">
        </a>
        <a href="https://www.linkedin.com/in/lopatar-jiri" target="_blank" aria-label="LinkedIn">
            <img src="/static/img/linkedin.png" alt="LinkedIn logo">
        </a>
        <a href="https://www.w3profile.com/lopatar" target="_blank" aria-label="W3Schools">
            <img src="/static/img/w3schools.png" alt="W3Schools logo">
        </a>
    </nav>
</main>

<footer>
    <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</body>
</html>
