<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Jiří Lopatář" name="author">
  <meta content="Jiří Lopatář, Jiří, Lopatář" name="keywords">
  <meta content="Jiří Lopatář - computer science student, .NET & PHP developer" name="description">
  <title>Jiří Lopatář</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/"><- Go back</a>
<h1>Services</h1>
<dl>
  <dt><a href="https://paste.lopatar.dev" target="_blank">Zero knowledge pastebin</a></dt>
  <div><dd>- Pastebin but the server has zero information about the data</dd></div>
  <dt><a href="https://s.lopatar.dev" target="_blank">Link shortener</a></dt>
  <div><dd>- Shorten your links, support for custom URL codes</dd></div>
  <dt><a href="https://deshort.lopatar.dev" target="_blank">Link de-shortener</a></dt>
  <div><dd>- De-shorten your links, skip any tracking redirects</dd></div>
  <dt><a href="https://timer.lopatar.dev" target="_blank">Javascript timer</a></dt>
  <div><dd>- Simple client-side javascript timer with Czech only UI</dd></div>
</dl>
</body>
<footer>
  <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</html>