<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jiří Lopatář">
  <meta name="keywords" content="Jiří Lopatář, Jiří, Lopatář">
  <meta name="description" content="Jiří Lopatář - computer science student, .NET & PHP developer">
  <title>Services – Jiří Lopatář</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/" aria-label="Go back">&larr; Go back</a>
<main>
  <h1>Services</h1>
  <dl>
    <dt>
      <a href="https://paste.lopatar.dev" target="_blank">
        Zero knowledge pastebin
      </a>
    </dt>
    <dd>
      Pastebin where the server has zero information about the data.
    </dd>

    <dt>
      <a href="https://s.lopatar.dev" target="_blank">
        Link shortener
      </a>
    </dt>
    <dd>
      Shorten your links, with support for custom URL codes.
    </dd>

    <dt>
      <a href="https://deshort.lopatar.dev" target="_blank">
        Link de-shortener
      </a>
    </dt>
    <dd>
      De-shorten your links and skip any tracking redirects.
    </dd>

    <dt>
      <a href="https://timer.lopatar.dev" target="_blank">
        JavaScript timer
      </a>
    </dt>
    <dd>
      Simple client-side timer with Czech-only UI.
    </dd>
  </dl>
</main>

<footer>
  <a href="https://github.com/lopatar/lopatar.me" target="_blank">Source code</a>
</footer>
</body>
</html>
